@import '../variables';
@import '../util/mixins';

.footer {
    height: $footer-height;
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba($color-background, 0.8);

    &__pages {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        .page-link {
            @include button($color-primary, white, 0.5rem, $border-radius-base);
        }
    }
}