@import '../variables';

.header {
    background: $gradient-primary;
    height: $header-height;
    padding: 1rem;

    &__nav {
        display: flex;
        justify-content: space-between;

        &--list {
            list-style: none;
            display: flex;
            gap: 1rem;
        }

        &--item {
            a {
                color: white;
                font-size: $font-size-medium;

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}