@import '../variables';


.container {
    height: calc(100% - $footer-height);
    padding: 2rem;
    background-color: $color-background;
    color: $color-text;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
}

.customers {
    overflow: auto;
    height: 100%;
    max-height: calc(100% - 7rem);
    max-width: 100%;
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid $color-border;
    border-radius: $border-radius-base;
    background-color: $color-background-dark;
    padding-bottom: $footer-height;

    &__display {
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
        border-collapse: collapse;

        th, td {
            padding: 0.75rem;
            text-align: left;
            border-bottom: 1px solid $color-border-light;
        }

        th {
            background: $gradient-primary;
            color: white;
            font-size: $font-size-medium;
        }

        tr:nth-child(even) {
            background-color: lighten($color-background-dark, 5%);
        }

        tr:hover {
            background-color: darken($color-background-dark, 5%);
        }
    }
}